apps/media/n8n/homeup-media-pipeline.json
{
  "name": "HomeUp Media Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "homeup-generate-blueprint",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a12747c8-f84e-4154-92f5-6d79a833019a",
      "name": "Blueprint Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "homeup-generate-blueprint"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate payload from media.homeup.sg /api/generate-blueprint\r\nconst raw = $input.first().json;\r\nconst body = raw.body ?? raw;\r\n\r\nconst required = [\r\n  \"address\",\r\n  \"property_type\",\r\n  \"selling_points\",\r\n  \"uploaded_by\",\r\n  \"room_photos\",\r\n];\r\n\r\nfor (const field of required) {\r\n  if (body[field] == null || body[field] === \"\") {\r\n    throw new Error(`Missing required field: ${field}`);\r\n  }\r\n}\r\n\r\nif (!Array.isArray(body.room_photos) || body.room_photos.length === 0) {\r\n  throw new Error(\"room_photos must be a non-empty array\");\r\n}\r\n\r\nfor (const photo of body.room_photos) {\r\n  if (!photo.label || !photo.r2_url) {\r\n    throw new Error(\"Each room_photos entry needs label and r2_url\");\r\n  }\r\n}\r\n\r\nconst roomList = `PROPERTY ADDRESS: ${body.address}\\n\\nROOMS:\\n${body.room_photos\r\n  .map(\r\n    (photo) =>\r\n      `- ${photo.label} (${photo.duration_seconds || body.seconds_per_room || 5}s): ${photo.r2_url}`,\r\n  )\r\n  .join(\"\\n\")}`;\r\n\r\nconst roomCount = body.room_photos.length;\r\nconst wordsPerRoom =\r\n  Number(body.words_per_room) || Math.max(20, Math.floor(195 / roomCount));\r\nconst secondsPerRoom =\r\n  Number(body.seconds_per_room) ||\r\n  Math.max(5, Math.round((wordsPerRoom / 130) * 60));\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      address: body.address,\r\n      property_type: body.property_type,\r\n      rooms: body.rooms || \"Not specified\",\r\n      listing_title: body.listing_title || \"Not specified\",\r\n      listing_type: body.listing_type || \"For Sale\",\r\n      bedrooms: body.bedrooms || \"Not specified\",\r\n      bathrooms: body.bathrooms || \"Not specified\",\r\n      sqft: body.sqft || \"Not specified\",\r\n      area_sqm: body.area_sqm || \"Not specified\",\r\n      price_range: body.price_range || \"Not specified\",\r\n      price_psf: body.price_psf || \"Not specified\",\r\n      tenure: body.tenure || \"Not specified\",\r\n      condition: body.condition || \"Not specified\",\r\n      selling_points: body.selling_points,\r\n      renovation_status: body.renovation_status || \"Move-in ready\",\r\n      agent_notes: body.agent_notes || \"None\",\r\n      uploaded_by: body.uploaded_by,\r\n      room_photos: body.room_photos,\r\n      room_list: roomList,\r\n      room_count: roomCount,\r\n      words_per_room: wordsPerRoom,\r\n      seconds_per_room: secondsPerRoom,\r\n    },\r\n  },\r\n];"
      },
      "id": "44724e93-f4c2-45fa-8b55-0066e19d9fe3",
      "name": "Parse & Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\r\n\r\nconst userMessage = `This property is located at: ${input.address}. Do not reference any other location.\r\n\r\nGenerate a production blueprint for this property tour video.\r\n\r\nPROPERTY DETAILS:\r\nListing title: ${input.listing_title}\r\nListing type: ${input.listing_type}\r\nAddress: ${input.address}\r\nType: ${input.property_type}\r\nRooms: ${input.rooms}\r\nBedrooms: ${input.bedrooms}\r\nBathrooms: ${input.bathrooms}\r\nSize: ${input.sqft} sqft\r\nArea: ${input.area_sqm} sqm\r\nPrice range: ${input.price_range}\r\nPrice psf: ${input.price_psf}\r\nTenure: ${input.tenure}\r\nCondition: ${input.condition}\r\nSelling points: ${input.selling_points}\r\nRenovation status: ${input.renovation_status}\r\nAgent notes: ${input.agent_notes || \"None\"}\r\n\r\nROOM PHOTOS (each will become an animated B-roll clip):\r\n${input.room_list}\r\n\r\nTIMING: Each room segment should target ~${input.seconds_per_room} seconds of presenter speech (~${input.words_per_room} words per room).`;\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...input,\r\n      anthropic_body: {\r\n        model: \"claude-sonnet-4-6\",\r\n        max_tokens: 3000,\r\n        system: [\r\n          {\r\n            type: \"text\",\r\n            text: \"You are a content director and cinematography consultant for HomeUP, a Singapore fixed-fee real estate agency. Your job is to generate production-ready blueprints for short-form property tour videos (TikTok, IG Reels, YouTube Shorts).\\r\\n\\r\\n== HOMEUP BRAND CONTEXT ==\\r\\n\\r\\nHomeUP charges a single fixed fee regardless of property price. Founders: Dennis and Tong Boon. Tagline: fixed fees, real advice, real estate that is finally fair. The brand is warm, editorial, and trustworthy. Not corporate. Not hype.\\r\\n\\r\\nTarget audience: Singapore HDB upgraders, first-time buyers, young couples, savvy investors aged 28-45. They have done their research. They respect clarity over polish. They scroll fast and stop for specifics.\\r\\n\\r\\nTone: knowledgeable friend, not salesperson. Speak like you know the market. Cite the numbers. Point out what matters. Acknowledge tradeoffs honestly.\\r\\n\\r\\n== SCRIPTWRITING SKILL: SHORT-FORM PROPERTY TOUR ==\\r\\n\\r\\nFUNDAMENTAL RULES:\\r\\n- The hook must land in the first 3 seconds. Lead with the result, the number, or the problem solved. Never with a greeting.\\r\\n- Forbidden hook openers: In today's video / Hey guys / Welcome back / Let's dive in / Today we are looking at / This property / So I wanted to show you\\r\\n- Forbidden closers: I hope you found this helpful / Like and subscribe / Drop a comment below / Make sure to follow\\r\\n- Every sentence must earn its place. Cut anything that does not add information or forward momentum.\\r\\n- Contractions always. Fragments are fine. Short sentences. Read it aloud — if it sounds written, rewrite it.\\r\\n- Show 2-3 strong features per room. Not everything. Curate.\\r\\n- Specific beats generic every time. Not 'nice kitchen' — 'full-height cabinets and a gas hob, which you almost never see in resale HDB.'\\r\\n- CTA: one action, make it easy. DM Dennis for the floorplan. Comment INFO. Link in bio. Never more than one.\\r\\n\\r\\nHOOK FORMULA (pick the strongest for the property):\\r\\n- Price reveal: 'Four rooms, freehold, under a mil — and it is already done.'\\r\\n- Problem-solved: 'Hate renovating? This one is move-in ready. Three years old, never rented.'\\r\\n- Contrast: 'Most HDB kitchens feel like afterthoughts. Not this one.'\\r\\n- Scarcity: 'Only twelve units in the block. This is the only one on the market.'\\r\\n- Aspiration: 'What does a 1.2M condo replacement actually look like? Here.'\\r\\n\\r\\nROOM SCRIPT STRUCTURE (per room, roughly 15-25 seconds each):\\r\\n1. Orientation (1 sentence): What room, what hits first visually\\r\\n2. Key feature (1-2 sentences): The detail that earns a cut to this room\\r\\n3. Practical detail (1 sentence): Size, storage, layout, natural light\\r\\n4. Optional buyer insight (1 sentence): What this solves for the buyer\\r\\n\\r\\nWORD COUNT GUIDE:\\r\\n- 10 seconds = ~25 words\\r\\n- 15 seconds = ~38 words\\r\\n- 20 seconds = ~50 words\\r\\n- 25 seconds = ~62 words\\r\\n- 30 seconds = ~75 words\\r\\n\\r\\nHOOK EXAMPLES (study the rhythm and density):\\r\\n- 'Four rooms, freehold, under a mil. And it is already done.'\\r\\n- 'This is what a million dollars actually looks like in Tampines.'\\r\\n- 'Hate carpentry lead times? Move in January. Everything is built.'\\r\\n- 'Two minutes to the MRT. Top floor. No one above you.'\\r\\n- 'HDB kitchen with an island counter. I know. Keep watching.'\\r\\n- 'Everyone says Queenstown is overpriced. Walk through this and tell me if they are right.'\\r\\n- 'This 5-room sold in 2019 for 580. Today it would go for 820. Here is why.'\\r\\n\\r\\nCTA EXAMPLES:\\r\\n- 'DM Dennis if you want the floorplan. HomeUP charges one flat fee, whatever the price.'\\r\\n- 'Comment INFO and we will send the listing link directly.'\\r\\n- 'Link in bio. Viewing slots are moving fast.'\\r\\n- 'Want to know the PSF? Drop your question below and Dennis will reply.'\\r\\n\\r\\nCOMMON SCRIPT MISTAKES TO AVOID:\\r\\n- Over-describing every room: pick the best 2-3 rooms and make them count\\r\\n- Generic superlatives: beautiful, stunning, amazing, perfect, spacious — cut all of them\\r\\n- Passive voice: 'The kitchen has been renovated' becomes 'They renovated the kitchen two years ago. Look at the tile work.'\\r\\n- Listing features as bullet points read aloud: write in continuous natural speech\\r\\n- Forgetting the buyer: always connect a feature to a benefit or a problem it solves\\r\\n\\r\\n== SEEDANCE 1.5 PRO PROMPTING SKILL: PHOTO-FAITHFUL ROOM B-ROLL ==\\r\\n\\r\\nYou are generating Seedance 1.5 Pro image-to-video prompts. These animate a static room PHOTO into a short clip behind the presenter. The source photo is the only truth — the model must not invent new architecture.\\r\\n\\r\\nCORE PRINCIPLE — PHOTO FIDELITY FIRST:\\r\\nThe clip must only show what already exists in the uploaded room photo. Slow camera movement across the VISIBLE scene only. Never dolly into or reveal areas outside the photo. Never add furniture, walls, doors, windows, or rooms that are not in the image.\\r\\n\\r\\nMCSLA FORMULA (adapted for Seedance):\\r\\nM — Motion: ONE slow camera move across visible content only (prefer pan left or pan right)\\r\\nC — Camera: pan left, pan right, or static locked-off tripod — never dolly in/out (dolly causes hallucinated depth)\\r\\nS — Subject: the existing room exactly as photographed — do not describe furniture unless guiding pan direction\\r\\nL — Lighting: subtle natural light behaviour only — no lighting changes that alter the room\\r\\nA — Atmosphere: one mood word (calm, editorial, precise)\\r\\n\\r\\nIRONCLAD RULES:\\r\\n1. NO PEOPLE. Every prompt must end with: Empty room, no people.\\r\\n2. ONE CAMERA MOVE ONLY. Prefer pan left or pan right across the visible frame. Avoid dolly in, dolly out, crane, and orbit — they invent space that does not exist.\\r\\n3. PHOTO-BOUNDED MOTION. Write: \\\"Slow pan across the visible [room type] only\\\" or \\\"Static locked-off tripod, subtle ambient motion only\\\". Never write \\\"reveal\\\", \\\"discover\\\", or \\\"show more of the room\\\" — that causes fake rooms.\\r\\n4. DO NOT DESCRIBE NEW CONTENT. The photo defines walls, furniture, and layout. Describe only how the camera moves across what is already visible.\\r\\n5. SHORT PROMPTS. 2-3 sentences maximum. Under 55 words before the fidelity line.\\r\\n6. DURATION. Clip length is 5-8 seconds (shorter than presenter speech). End every prompt with: Duration: 6s.\\r\\n\\r\\nROOM TYPE CAMERA GUIDE (photo-faithful):\\r\\n- Living room: slow pan right across the visible living area only\\r\\n- Kitchen: slow pan left along the visible counter and cabinets only\\r\\n- Master bedroom: slow pan right across the visible bed and window only\\r\\n- Common bedroom: static locked-off tripod, minimal motion\\r\\n- Bathroom: slow pan left across visible vanity and tiles only\\r\\n- Dining area: slow pan right across visible table and chairs only\\r\\n- Study / utility: slow pan right across visible desk or storage only\\r\\n- Exterior / facade: static locked-off or very slow pan across visible building face only\\r\\n\\r\\nSTRONG PROMPT EXAMPLES:\\r\\nLiving room: 'Slow pan right across the visible living room only. Soft natural daylight, calm editorial mood. Duration: 6s. Empty room, no people.'\\r\\nKitchen: 'Slow pan left along the visible kitchen counter and cabinets only. Even daylight, precise mood. Duration: 6s. No human presence.'\\r\\nMaster bedroom: 'Static locked-off tripod shot of the visible bedroom. Subtle ambient motion only, soft morning light. Duration: 6s. Empty room, no people.'\\r\\n\\r\\nWEAK PROMPTS — DO NOT GENERATE THESE:\\r\\n- 'Slow dolly in toward the window' — invents depth and fake rooms\\r\\n- 'Crane up to reveal the full bedroom' — reveals space not in the photo\\r\\n- 'Orbit around the dining table' — generates non-existent geometry\\r\\n- 'A beautiful modern living room with nice furniture' — describes content instead of motion\\r\\n- 'Cinematic dramatic shot' — uncontrolled hallucination\\r\\n\\r\\nThe higgsfield_prompt field name is kept for pipeline compatibility. Each room_scripts entry must include higgsfield_prompt following these Seedance rules.\\r\\n\\r\\n== COLOUR GRADE NOTES ==\\r\\n\\r\\nPhase 1: Dennis and Tong Boon apply colour grade manually in CapCut. Provide specific colour grade direction in edit_notes as a guide for their manual grade.\\r\\n\\r\\nHomeUP default look: warm editorial. Lifted blacks (not crushed). Warm highlights. Slight desaturation on cool tones. Reference: Sunday Times property supplement, not Instagram filter.\\r\\n\\r\\nPer-property variants:\\r\\n- Modern/minimal interior: cooler grade, slightly desaturated, clean whites, no warmth push\\r\\n- Warm/family home: golden hour push, lifted midtones, cream in the shadows\\r\\n- Luxury/high-end: high contrast, deeper blacks, teal-and-orange complementary grade\\r\\n- Older resale HDB: warm grade to compensate, lift the midtones, remove yellow cast from fluorescents\\r\\n\\r\\n== SINGAPORE PROPERTY MARKET CONTEXT ==\\r\\n\\r\\nKey facts that inform script quality:\\r\\n- HDB resale: prices surged 2022-2024, now moderating. Buyers are value-conscious.\\r\\n- Common objections: MOP not met, renovation cost, facing/level, lease remaining years\\r\\n- Condo buyers: often upgraders from HDB, comparing PSF across districts\\r\\n- Lease: 99-year vs 999-year vs freehold — always state if it is a selling point\\r\\n- PSF: include in hook or first 15 seconds when competitive\\r\\n- Popular family areas: Bishan, Ang Mo Kio, Tampines, Punggol, Sengkang\\r\\n- Prestige HDB districts: Queenstown, Tiong Bahru, Tanjong Pagar, Buona Vista\\r\\n- MRT: mention line + station name: 'One stop to Tampines on the East-West line'\\r\\n\\r\\nSINGAPORE-SPECIFIC HOOK EXAMPLES:\\r\\n- 'Queenstown 4-room. Lease still has 70 years. And the kitchen alone would cost 80k to build today.'\\r\\n- 'District 5, 3 minutes to one-north MRT. PSF still under 1,000. This will not last.'\\r\\n- 'Five-room HDB with a second toilet. In Bishan. Under 900k. I know.'\\r\\n- 'This EC just reached MOP. First resale unit in the block. Freehold-equivalent quality at HDB price.'\\r\\n- 'Punggol waterfront. TOP last year. Never rented. Here is what 700k actually buys you.'\\r\\n\\r\\n== PRESENTER COACHING: DENNIS AND TONG BOON ==\\r\\n\\r\\nDennis: Primary listing agent. Measured, knowledgeable tone. Data-forward scripts suit him best. Give him specific numbers and let him deliver with authority. Not performative — write to match his directness.\\r\\n\\r\\nTong Boon: Co-founder. Warmer delivery style. Works well with narrative-driven scripts that tell the buyer's story.\\r\\n\\r\\nPRESENTER DIRECTION GUIDELINES:\\r\\n- Energy: 7 out of 10. Confident and warm, not high-energy sales mode.\\r\\n- Pacing: Slower than instinct. Pause after the hook. Let it breathe.\\r\\n- Hands: Natural gestures are fine. Avoid crossed arms. Avoid pointing at camera.\\r\\n- Eye contact: Into lens for hook and CTA. Eyes can move naturally during room descriptions.\\r\\n- Wardrobe: Smart casual. Navy or white shirt for clean green screen key. Avoid busy patterns.\\r\\n- Position: Static on green screen. All movement comes from B-roll behind them.\\r\\n\\r\\n== EXTENDED SEEDANCE EXAMPLES: REAL ESTATE SPECIFIC ==\\r\\n\\r\\nHDB Living Room (north-facing, morning light): 'Slow pan right across the visible living room only. Soft diffused morning light, unhurried mood. Duration: 6s. Empty room, no people.'\\r\\n\\r\\nKitchen with island counter: 'Slow pan left along the visible kitchen counter only. Neutral daylight, precise mood. Duration: 6s. No human presence.'\\r\\n\\r\\nCondo master bedroom with city view: 'Static locked-off tripod of the visible bedroom and window. Subtle ambient motion, soft afternoon light. Duration: 6s. Empty room, no people.'\\r\\n\\r\\nRenovated open-plan dining and living: 'Slow pan right across the visible open-plan area only. Warm afternoon light, editorial mood. Duration: 6s. Empty room, no people.'\\r\\n\\r\\nBalcony with garden view: 'Static locked-off tripod from the visible balcony. Warm late-afternoon light, quiet mood. Duration: 6s. No people.'\\r\\n\\r\\n== COMPLETE WORKED SCRIPT EXAMPLE ==\\r\\n\\r\\n4-Room HDB, Tampines, Move-In Ready, $720k:\\r\\n\\r\\nHook: 'Four rooms, Tampines, move-in ready. 720k. I am going to show you every dollar.'\\r\\n\\r\\nLiving Room (15s): 'This is the living and dining combined. They knocked through the original wall to open it up. Solid vinyl plank flooring throughout — about 12k of material alone. North-facing, so you get light all day without afternoon heat.'\\r\\nHiggsfield: 'Slow pan right across the visible living and dining area only. Soft diffused north-facing daylight, open mood. Duration: 6s. Empty room, no people.'\\r\\n\\r\\nKitchen (15s): 'Full marble-effect countertop, undermount sink, gas hob. The carpentry goes to the ceiling — that is the detail that makes it feel expensive. This kitchen would cost 35 to 40k to build new today.'\\r\\nHiggsfield: 'Slow pan left along the visible kitchen counter and cabinets only. Warm morning light, precise mood. Duration: 6s. No human presence.'\\r\\n\\r\\nMaster Bedroom (15s): 'Queen bed fits with room to spare. Built-in wardrobe runs the full wall — roughly 4 meters of storage. They kept the original window so you get natural light without haze from the west.'\\r\\nHiggsfield: 'Static locked-off tripod of the visible bedroom and window. Soft morning light, restful mood. Duration: 6s. Empty room, no people.'\\r\\n\\r\\nCTA: 'If you want the floorplan or last transacted price in the block, DM Dennis. HomeUP flat fee — no commission surprises.'\\r\\n\\r\\nEdit notes: 'Hook > Living > Kitchen > Master > CTA. Warm grade, lifted midtones, slight gold push in highlights. No crushed blacks. Target: 55-60s.'\\r\\n\\r\\n== QUALITY CONTROL CHECKLIST ==\\r\\n\\r\\nSCRIPT: Hook does not start with greeting. Every room has at least one specific detail. No generic superlatives. CTA names one action only.\\r\\nHIGGSFIELD: Each prompt uses pan or static locked-off only. Each includes Duration: 6s. Each ends with no-people instruction. No dolly, crane, or orbit. No prompt exceeds 55 words.\\r\\nCOLOUR: edit_notes includes specific grade direction matched to property type.\\r\\n\\r\\n== OUTPUT RULES ==\\r\\n\\r\\nRespond ONLY with a valid JSON object. No markdown. No backticks. No explanation. No preamble. The JSON must be parseable by JSON.parse() on the first attempt.\\r\\n\\r\\nRequired JSON structure: {\\\"hook_script\\\": \\\"...\\\", \\\"room_scripts\\\": [{\\\"label\\\": \\\"...\\\", \\\"script\\\": \\\"...\\\", \\\"duration_seconds\\\": 15, \\\"presenter_direction\\\": \\\"...\\\", \\\"higgsfield_prompt\\\": \\\"...\\\"}], \\\"cta_script\\\": \\\"...\\\", \\\"edit_notes\\\": \\\"Sequence and cut timing only. Under 200 chars.\\\", \\\"colorgrade_notes\\\": \\\"Specific colour grade direction for CapCut. Warm/cool, blacks, highlights, reference. Under 150 chars.\\\", \\\"presentation_guide\\\": \\\"...\\\"}\\r\\n\\r\\n== ADDITIONAL SCRIPT REFERENCE: CONDO 2BR EXAMPLE ==\\r\\n\\r\\nProperty: 2BR condo, District 5, one-north MRT, $1.05M, unobstructed facing, TOP 2022\\r\\n\\r\\nHook: 'District 5. One-north MRT exit, two minutes on foot. 1.05M for two bedrooms and a study. Here is the walk-through.'\\r\\n\\r\\nLiving and Dining (20s): 'Open plan, no wasted corridor. The developer kept the ceiling at 2.9 meters — most condos in this range are 2.6. That extra 30 centimeters is the difference between feeling like a home and feeling like a hotel room. Unobstructed facing — nothing ahead of you.'\\r\\nPresenter direction: Stand relaxed. Hands open. Calm authority.\\r\\nHiggsfield: 'Slow pan right across the visible living area and window only. Afternoon light, spacious mood. Duration: 6s. Empty room, no people.'\\r\\n\\r\\nKitchen (15s): 'Integrated appliances, quartz countertop, proper hob — not a two-burner. This layout works for people who actually cook, not just people who say they do.'\\r\\nHiggsfield: 'Slow pan left along the visible kitchen counter only. Even cool daylight, precise mood. Duration: 6s. No human presence.'\\r\\n\\r\\nMaster Bedroom (20s): 'Ensuite. Walk-in wardrobe — not a sliding robe, a proper walk-in. About 6 sqm. That is rare at this price point. City view from the bed if you leave the curtains open.'\\r\\nHiggsfield: 'Static locked-off tripod of the visible bedroom and wardrobe entrance. Soft warm afternoon light, private mood. Duration: 6s. Empty room, no people.'\\r\\n\\r\\nCTA: 'Viewing slots available this weekend. DM Tong Boon or check the link in bio. One flat fee. No hidden commissions.'\\r\\n\\r\\nEdit notes: 'Hook > Living > Kitchen > Master > CTA. Cool-leaning editorial grade, clean whites, restrained warmth. Target: 65-70s.'\\r\\n\\r\\nPresentation guide: 'Smart casual. Measured pace. Let the numbers land before moving on.'\\r\\n\\r\\n== FINAL NOTE ON JSON OUTPUT ==\\r\\n\\r\\nThe JSON you return is immediately parsed and written to the database. Any syntax error will cause the pipeline to fail silently. Double-check that: all strings use escaped quotes, no trailing commas, all arrays are properly closed, duration_seconds is a number not a string, and the root object contains exactly the required keys.\\r\\n\",\r\n            cache_control: { type: \"ephemeral\" },\r\n          },\r\n        ],\r\n        messages: [{ role: \"user\", content: userMessage }],\r\n      },\r\n    },\r\n  },\r\n];"
      },
      "id": "8fd5f2ef-df51-4856-9104-f464242b21e3",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "6876d352-0ed8-4f79-a36d-fa7c4fedd088",
      "name": "Generate Blueprint (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content[0].text.trim();\r\nconst cleaned = raw\r\n  .replace(/^```json/i, \"\")\r\n  .replace(/^```/, \"\")\r\n  .replace(/```$/, \"\")\r\n  .trim();\r\n\r\nlet blueprint;\r\ntry {\r\n  blueprint = JSON.parse(cleaned);\r\n} catch (error) {\r\n  throw new Error(\r\n    \"Failed to parse Claude blueprint JSON. Raw: \" + cleaned.substring(0, 500),\r\n  );\r\n}\r\n\r\nif (!blueprint.hook_script || !blueprint.room_scripts || !blueprint.cta_script) {\r\n  throw new Error(\r\n    \"Blueprint missing required keys: \" + Object.keys(blueprint).join(\", \"),\r\n  );\r\n}\r\n\r\nconst input = $(\"Parse & Validate Input\").first().json;\r\n\r\nconst fullScript = [\r\n  \"=== HOOK ===\",\r\n  blueprint.hook_script,\r\n  \"\",\r\n  ...blueprint.room_scripts.flatMap((room) => [\r\n    `=== ${room.label.toUpperCase()} (${room.duration_seconds}s) ===`,\r\n    room.script,\r\n    `[Presenter direction: ${room.presenter_direction}]`,\r\n    \"\",\r\n  ]),\r\n  \"=== CTA ===\",\r\n  blueprint.cta_script,\r\n].join(\"\\n\");\r\n\r\nconst shotList = blueprint.room_scripts.map((room, index) => ({\r\n  order: index + 1,\r\n  label: room.label,\r\n  duration_seconds: room.duration_seconds,\r\n  script: room.script,\r\n  presenter_direction: room.presenter_direction,\r\n  higgsfield_prompt: room.higgsfield_prompt,\r\n}));\r\n\r\nconst editInstructions = {\r\n  edit_notes: blueprint.edit_notes,\r\n  presentation_guide: blueprint.presentation_guide,\r\n  colorgrade_notes: blueprint.colorgrade_notes || \"\",\r\n  sequence: [\"hook\", ...blueprint.room_scripts.map((room) => room.label), \"cta\"],\r\n};\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      address: input.address,\r\n      property_type: input.property_type,\r\n      uploaded_by: input.uploaded_by,\r\n      room_photos: input.room_photos,\r\n      full_script: fullScript,\r\n      shot_list: shotList,\r\n      edit_instructions: editInstructions,\r\n      hook_script: blueprint.hook_script,\r\n      cta_script: blueprint.cta_script,\r\n      edit_notes: blueprint.edit_notes,\r\n      presentation_guide: blueprint.presentation_guide,\r\n      room_scripts: blueprint.room_scripts,\r\n      colorgrade_notes: blueprint.colorgrade_notes || blueprint.edit_notes || \"\",\r\n    },\r\n  },\r\n];"
      },
      "id": "24294205-de82-4f84-9916-ed33af314422",
      "name": "Parse Blueprint JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "tableId": "blueprints",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "property_name",
              "fieldValue": "={{ $json.address }}"
            },
            {
              "fieldId": "uploaded_by",
              "fieldValue": "={{ $json.uploaded_by }}"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "short"
            },
            {
              "fieldId": "category",
              "fieldValue": "house_tour"
            },
            {
              "fieldId": "script",
              "fieldValue": "={{ $json.full_script }}"
            },
            {
              "fieldId": "shot_list",
              "fieldValue": "={{ JSON.stringify($json.shot_list) }}"
            },
            {
              "fieldId": "edit_instructions",
              "fieldValue": "={{ JSON.stringify($json.edit_instructions) }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.presentation_guide }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "draft"
            }
          ]
        }
      },
      "id": "541a0b7a-9c8c-4db7-88b2-11132dba17bf",
      "name": "Save Blueprint to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const supabaseResult = $input.first().json;\r\nconst blueprintId = supabaseResult.id;\r\n\r\nif (!blueprintId) {\r\n  throw new Error(\r\n    \"Supabase did not return a blueprint ID. Response: \" +\r\n      JSON.stringify(supabaseResult).substring(0, 300),\r\n  );\r\n}\r\n\r\nconst parsed = $(\"Parse Blueprint JSON\").first().json;\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...parsed,\r\n      blueprint_id: blueprintId,\r\n    },\r\n  },\r\n];"
      },
      "id": "0c268789-95d3-428b-bff5-fb9fbc03ceeb",
      "name": "Capture Blueprint ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', blueprint_id: $json.blueprint_id, message: 'Blueprint generated and saved.' }) }}",
        "options": {}
      },
      "id": "194cf061-c9a7-4e03-a108-f2b8c23cfeec",
      "name": "Respond to App",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "homeup-approve-blueprint",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7ddc8f00-f257-4a3a-b95a-ddf3434fbd07",
      "name": "Approval Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        320
      ],
      "webhookId": "homeup-approve-blueprint"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\r\nconst body = raw.body ?? raw;\r\n\r\nif (!body.blueprint_id) {\r\n  throw new Error(\"Missing blueprint_id\");\r\n}\r\n\r\nif (!body.room_photos || !Array.isArray(body.room_photos)) {\r\n  throw new Error(\"Missing room_photos array\");\r\n}\r\n\r\nfor (const photo of body.room_photos) {\r\n  if (!photo.label || !photo.r2_url) {\r\n    throw new Error(\"Each room_photos entry needs label and r2_url\");\r\n  }\r\n}\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      blueprint_id: body.blueprint_id,\r\n      room_photos: body.room_photos,\r\n    },\r\n  },\r\n];"
      },
      "id": "cc96ba68-ae86-493a-8705-06064e3b7cb1",
      "name": "Parse Approval Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "blueprints",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.blueprint_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "ready"
            }
          ]
        }
      },
      "id": "f46567fa-0295-4d50-8bc2-7b375257c8f5",
      "name": "Set Blueprint to Ready",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', message: 'Blueprint approved. Room clip generation started for ' + $('Parse Approval Input').first().json.room_photos.length + ' rooms.' }) }}",
        "options": {}
      },
      "id": "1e046a60-08aa-4fbb-b037-f893e975427a",
      "name": "Respond to Approval",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const { blueprint_id, room_photos } = $(\"Parse Approval Input\").first().json;\r\n\r\nreturn room_photos.map((photo) => ({\r\n  json: {\r\n    blueprint_id,\r\n    label: photo.label,\r\n    r2_url: photo.r2_url,\r\n    higgsfield_prompt: photo.higgsfield_prompt,\r\n    duration_seconds: photo.duration_seconds || 6,\r\n    file_name:\r\n      \"room_clip_\" + photo.label.toLowerCase().replace(/ /g, \"_\") + \".mp4\",\r\n    r2_key:\r\n      \"room-clips/\" +\r\n      blueprint_id +\r\n      \"/\" +\r\n      photo.label.toLowerCase().replace(/ /g, \"_\") +\r\n      \".mp4\",\r\n  },\r\n}));"
      },
      "id": "32006747-7f76-4084-9d26-628a1eb5fe69",
      "name": "Split Rooms for Processing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const baseUrl =\r\n  \"https://ixhikkbytusikgjiuvqa.supabase.co/functions/v1/generate-room-clip\";\r\n\r\nasync function postClip(body, timeoutMs) {\r\n  return await this.helpers.httpRequest({\r\n    method: \"POST\",\r\n    url: baseUrl,\r\n    headers: { \"Content-Type\": \"application/json\" },\r\n    body,\r\n    json: true,\r\n    timeout: timeoutMs,\r\n  });\r\n}\r\n\r\nasync function processRoom(item) {\r\n  let startRes;\r\n  try {\r\n    startRes = await postClip.call(\r\n      this,\r\n      {\r\n        action: \"start\",\r\n        blueprint_id: item.blueprint_id,\r\n        label: item.label,\r\n        r2_url: item.r2_url,\r\n        higgsfield_prompt: item.higgsfield_prompt,\r\n        duration_seconds: item.duration_seconds,\r\n      },\r\n      45000,\r\n    );\r\n  } catch (error) {\r\n    const message =\r\n      error?.message ||\r\n      error?.description ||\r\n      (typeof error === \"string\" ? error : \"Clip start request failed\");\r\n    return { ...item, success: false, error: message, retryable: true };\r\n  }\r\n\r\n  const jobId = startRes?.job_id ?? startRes?.higgsfield_job_id;\r\n  if (!startRes?.success || !jobId) {\r\n    return {\r\n      ...item,\r\n      success: false,\r\n      error: startRes?.error || \"Clip start did not return a job_id\",\r\n      retryable: startRes?.retryable ?? true,\r\n      diagnostics: startRes?.diagnostics || null,\r\n    };\r\n  }\r\n\r\n  const maxAttempts = 40;\r\n\r\n  for (let attempt = 0; attempt < maxAttempts; attempt++) {\r\n    if (attempt > 0) {\r\n      await new Promise((resolve) => setTimeout(resolve, 15000));\r\n    }\r\n\r\n    let statusRes;\r\n    try {\r\n      statusRes = await postClip.call(\r\n        this,\r\n        { action: \"status\", job_id: jobId, label: item.label },\r\n        20000,\r\n      );\r\n    } catch (error) {\r\n      const message =\r\n        error?.message ||\r\n        error?.description ||\r\n        (typeof error === \"string\" ? error : \"Clip status request failed\");\r\n      if (attempt === maxAttempts - 1) {\r\n        return {\r\n          ...item,\r\n          success: false,\r\n          error: message,\r\n          retryable: true,\r\n          higgsfield_job_id: jobId,\r\n        };\r\n      }\r\n      continue;\r\n    }\r\n\r\n    if (statusRes?.status === \"failed\" || statusRes?.success === false) {\r\n      return {\r\n        ...item,\r\n        success: false,\r\n        error: statusRes?.error || \"fal job failed\",\r\n        retryable: statusRes?.retryable ?? true,\r\n        higgsfield_job_id: jobId,\r\n        diagnostics: statusRes?.diagnostics || null,\r\n      };\r\n    }\r\n\r\n    if (statusRes?.status === \"completed\") {\r\n      let resultRes;\r\n      try {\r\n        resultRes = await postClip.call(\r\n          this,\r\n          { action: \"result\", job_id: jobId, label: item.label },\r\n          45000,\r\n        );\r\n      } catch (error) {\r\n        const message =\r\n          error?.message ||\r\n          error?.description ||\r\n          (typeof error === \"string\" ? error : \"Clip result request failed\");\r\n        return {\r\n          ...item,\r\n          success: false,\r\n          error: message,\r\n          retryable: true,\r\n          higgsfield_job_id: jobId,\r\n        };\r\n      }\r\n\r\n      if (resultRes?.video_url) {\r\n        return {\r\n          ...item,\r\n          success: true,\r\n          video_url: resultRes.video_url,\r\n          higgsfield_job_id: jobId,\r\n          diagnostics: {\r\n            ...(startRes.diagnostics || {}),\r\n            ...(statusRes.diagnostics || {}),\r\n            ...(resultRes.diagnostics || {}),\r\n            poll_attempts: attempt + 1,\r\n          },\r\n        };\r\n      }\r\n\r\n      return {\r\n        ...item,\r\n        success: false,\r\n        error: resultRes?.error || \"fal result did not include video_url\",\r\n        retryable: true,\r\n        higgsfield_job_id: jobId,\r\n      };\r\n    }\r\n  }\r\n\r\n  return {\r\n    ...item,\r\n    success: false,\r\n    error:\r\n      \"fal job is still processing after ~10 minutes. Please retry this room clip.\",\r\n    retryable: true,\r\n    higgsfield_job_id: jobId,\r\n  };\r\n}\r\n\r\nconst items = $input.all().map((entry) => entry.json);\r\nconst processed = await Promise.all(\r\n  items.map((item) => processRoom.call(this, item)),\r\n);\r\n\r\nreturn processed.map((json) => ({ json }));"
      },
      "id": "2db93a76-1426-49f2-ae14-76fbd1fc7c0f",
      "name": "Generate Room Clip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Each input item already carries its room context (spread from the\r\n// Generate Room Clip node), so we map over all items to handle every room.\r\nreturn $input.all().map((entry) => {\r\n  const response = entry.json;\r\n\r\n  const explicitError =\r\n    response.error_message ||\r\n    (typeof response.error === \"string\" ? response.error : null) ||\r\n    response.error?.message ||\r\n    response.message;\r\n\r\n  if (response.success === false || (explicitError && !response.video_url)) {\r\n    return {\r\n      json: {\r\n        ...response,\r\n        clip_status: \"error\",\r\n        error_message: explicitError || \"Clip generation failed\",\r\n        retryable: response.retryable ?? true,\r\n        metadata: {\r\n          label: response.label,\r\n          diagnostics: response.diagnostics || null,\r\n          source: \"generate-room-clip\",\r\n        },\r\n      },\r\n    };\r\n  }\r\n\r\n  const videoUrl =\r\n    response.video_url || response.url || response.r2_url || response.clip_url;\r\n\r\n  if (!videoUrl) {\r\n    return {\r\n      json: {\r\n        ...response,\r\n        clip_status: \"error\",\r\n        error_message:\r\n          \"No video_url in clip response: \" +\r\n          JSON.stringify(response).substring(0, 300),\r\n        retryable: true,\r\n        metadata: {\r\n          label: response.label,\r\n          source: \"generate-room-clip\",\r\n        },\r\n      },\r\n    };\r\n  }\r\n\r\n  return {\r\n    json: {\r\n      ...response,\r\n      video_url: videoUrl,\r\n      clip_status: \"done\",\r\n      metadata: {\r\n        label: response.label,\r\n        diagnostics: response.diagnostics || null,\r\n        source: \"generate-room-clip\",\r\n      },\r\n    },\r\n  };\r\n});"
      },
      "id": "52fb1be3-fe15-47b1-8a73-294230727a2f",
      "name": "Parse Clip Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Same value as MEDIA_WEBHOOK_SECRET in Vercel (media.homeup.sg).\r\n// Edit this line in n8n after import — Code nodes cannot use credentials here.\r\nconst MEDIA_WEBHOOK_SECRET = \"REPLACE_WITH_YOUR_SECRET\";\r\n\r\nconst appUrl = \"https://media.homeup.sg\";\r\n\r\nasync function archiveItem(item) {\r\n  if (item.clip_status === \"error\" || !item.video_url || !item.r2_key) {\r\n    return item;\r\n  }\r\n\r\n  if (\r\n    !MEDIA_WEBHOOK_SECRET ||\r\n    MEDIA_WEBHOOK_SECRET === \"REPLACE_WITH_YOUR_SECRET\"\r\n  ) {\r\n    return {\r\n      ...item,\r\n      metadata: {\r\n        ...(item.metadata || {}),\r\n        archive_skipped:\r\n          \"Set MEDIA_WEBHOOK_SECRET at the top of Archive Clip to R2 code\",\r\n      },\r\n    };\r\n  }\r\n\r\n  try {\r\n    const archived = await this.helpers.httpRequest({\r\n      method: \"POST\",\r\n      url: `${appUrl}/api/clips/archive`,\r\n      headers: {\r\n        \"Content-Type\": \"application/json\",\r\n        \"x-media-webhook-secret\": MEDIA_WEBHOOK_SECRET,\r\n      },\r\n      body: {\r\n        source_url: item.video_url,\r\n        r2_key: item.r2_key,\r\n      },\r\n      json: true,\r\n      timeout: 120000,\r\n    });\r\n\r\n    return {\r\n      ...item,\r\n      video_url: archived.r2_url,\r\n      file_size: archived.file_size,\r\n      metadata: {\r\n        ...(item.metadata || {}),\r\n        archived_to_r2: true,\r\n        original_source_url: item.video_url,\r\n      },\r\n    };\r\n  } catch (error) {\r\n    const message =\r\n      error?.message ||\r\n      error?.description ||\r\n      (typeof error === \"string\" ? error : \"Archive request failed\");\r\n\r\n    return {\r\n      ...item,\r\n      metadata: {\r\n        ...(item.metadata || {}),\r\n        archive_error: message,\r\n      },\r\n    };\r\n  }\r\n}\r\n\r\nconst items = $input.all().map((entry) => entry.json);\r\nconst processed = await Promise.all(\r\n  items.map((item) => archiveItem.call(this, item)),\r\n);\r\n\r\nreturn processed.map((json) => ({ json }));"
      },
      "id": "f679c685-7a81-46af-8552-2f30ab161f1f",
      "name": "Archive Clip to R2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        320
      ]
    },
    {
      "parameters": {
        "tableId": "media_files",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "job_id",
              "fieldValue": "={{ $json.blueprint_id }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $json.file_name }}"
            },
            {
              "fieldId": "r2_key",
              "fieldValue": "={{ $json.r2_key }}"
            },
            {
              "fieldId": "r2_url",
              "fieldValue": "={{ $json.video_url || '' }}"
            },
            {
              "fieldId": "file_size",
              "fieldValue": "={{ $json.file_size || 0 }}"
            },
            {
              "fieldId": "duration_seconds",
              "fieldValue": "={{ $json.duration_seconds }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify($json.metadata || { label: $json.label }) }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.clip_status || 'done' }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.error_message || '' }}"
            }
          ]
        }
      },
      "id": "b2f11a12-94d5-4448-8e8a-4f3c1f967cb6",
      "name": "Save Room Clip to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1560,
        320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Blueprint Trigger": {
      "main": [
        [
          {
            "node": "Parse & Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Input": {
      "main": [
        [
          {
            "node": "Build Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Request": {
      "main": [
        [
          {
            "node": "Generate Blueprint (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Blueprint (Claude)": {
      "main": [
        [
          {
            "node": "Parse Blueprint JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Blueprint JSON": {
      "main": [
        [
          {
            "node": "Save Blueprint to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Blueprint to Supabase": {
      "main": [
        [
          {
            "node": "Capture Blueprint ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Blueprint ID": {
      "main": [
        [
          {
            "node": "Respond to App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Trigger": {
      "main": [
        [
          {
            "node": "Parse Approval Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Approval Input": {
      "main": [
        [
          {
            "node": "Set Blueprint to Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Blueprint to Ready": {
      "main": [
        [
          {
            "node": "Split Rooms for Processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Rooms for Processing": {
      "main": [
        [
          {
            "node": "Generate Room Clip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Room Clip": {
      "main": [
        [
          {
            "node": "Parse Clip Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Clip Response": {
      "main": [
        [
          {
            "node": "Archive Clip to R2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Clip to R2": {
      "main": [
        [
          {
            "node": "Save Room Clip to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "dc93f863-cbd1-4a61-9721-74aee7288bfc"
  }
}